 div {
   border: 1px solid black;
 }
#leftBar {
  background: #90bb90;
}
h4 {
  color: #f3deb5;
}
body {
  background: #e6e6e6;
}
.jumbotron {
  background: #f3deb5;
}
#rules {
  font-weight: bold;
  font-size: 18px;
}
.white {
  color: white;
}
